.burger{
    display: none;
    cursor: pointer;
    background: transparent;
    border: none;
}
.burger  div {
    width: 25px;
    height: 2px;
    background-color: rgb(212, 206, 206);
    margin: 5px;
}
.burger:checked{
    border: none;
   
}