.cartcard{
    display: none;

}
.your-stay{
    font-size: 1.2rem;
    margin: 10px;
    display: block;
}
.hotel-cart-container{
    margin: 10px;
    display: flex;
    /* flex-wrap: wrap; */
}
.checkin{
    display: inline-block;
    vertical-align: top;
    flex-grow: 1;
}

.checkout{
    display: inline-block;
vertical-align: top;
flex-grow: 1;
}
.datecartcard{
    margin: 10px;
}
.action-cartcard{
    margin: 10px;
}
@media screen and (min-width : 768px){
    .cartcard{
        display: block;
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        border-radius: 0.4rem;
        height: 100%;
        box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.082);
        position: sticky;
        margin-top: 1rem;
       
    
    }
}